.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  
    h1 {
      color: #FF6060;
      text-align: center;
      font-size: 288px;
      font-weight: 700;
    }
  
    h3 {
      font-size: 36px;
      font-weight: 500;
    }
  
    a {
      font-size: 18px;
      font-weight: 500;
    }
  }
  
  @media screen and (max-width: 610px) {
    .error-container {
      h1 {
        font-size: 200px;
      }
    }
  }
  
  @media screen and (max-width: 424px) {
    .error-container {
      h1 {
        font-size: 160px;
      }
    }
  }
  
  @media screen and (max-width: 350px) {
    .error-container {
      h1 {
        font-size: 140px;
      }
  
      h3 {
        font-size: 30px;
      }
    }
  }
  
  @media screen and (max-width: 297px) {
    .error-container {
      h1 {
        font-size: 120px;
      }
  
      h3 {
        font-size: 25px;
      }
  
      a {
        font-size: 15px;
      }
    }
  }
  