.card {
    width: 340px;
    height: 340px;
    flex: 0 1 calc(33.33% - 2rem);
  
    .card-img {
      border-radius: 10px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .card-title {
      padding-left: 1rem;
      position: relative;
      transform: translateY(-110%);
      color: #FFF;
      font: 500 18px/142.6% "Montserrat", sans-serif;
    }
  }
  
  @media screen and (max-width: 1320px) {
    .card {
      width: 300px;
      height: 340px;
    }
  }
  
  @media screen and (max-width: 1188px) {
    .card {
      width: 250px;
      height: 280px;
    }
  }
  
  @media screen and (max-width: 930px) {
    .card {
      width: 250px;
      height: 280px;
      flex: 0 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 730px) {
    .card {
      width: 400px;
      height: 300px;
      flex: 0 1 calc(80% - 2rem);
    }
  
    .card-title {
      width: 295.588px;
    }
  }
  
  @media screen and (max-width: 430px) {
    .card {
      width: 260px;
      height: 250px;
      flex: 0 1 calc(80% - 2rem);
    }
  }
  